@mixin button() {
    border-radius: 20px;
    border: 2px solid $secondary-color;
    background-color: $secondary-color;
    color: #fff;
    line-height: 22px;
    cursor: pointer;
}

@mixin button-alt {
    @include button();
    border: 2px solid #2ed573;
    background-color: #fff;
}