.navbar {
  padding: 0px 130px;
  display: flex;
  color: $alt-text-color;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid $alt-bg-color;
  font-size: 21px;
  font-weight: 500;
  width: 100%;

  .logo {
    height: 30px;
    cursor: pointer;
  }

  .links-group {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 500px;

    li {
      padding: 5px 10px;
      text-decoration: none;

      a {
        text-decoration: none;
        color: $alt-text-color;
      }
    }

    .sign {
      @include button-alt;
    }

    .register {
      @include button;
    }
  }
}
