.hero {
  max-height: 100vh;
  display: flex;
  width: 100%;

  .content {
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 48px;
      width: 60%;
      text-align: center;
    }

    .description {
      width: 50%;
      font-size: 26px;
    }

    button {
      @include button;
      font-weight: 500;
      color: $alt-text-color;
      font-size: 24px;
      padding: 6px 12px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .background {
    width: 53%;
    height: 100vh;
    background-image: url('/assets/office.png');
    background-size: cover;

    img {
      justify-self: center;
      height: 100vh;
    }
  }
}

@media (max-width: 1440px) {
  .hero {
    max-height: 100vh;
    display: flex;
    width: 100%;
    .title {
      margin-top: 160px;
    }
  }
}

@media (min-width: 1900px) {
  .hero {
    .title {
      margin-top: 300px;
    }
  }
}
