.te-container {
  width: 100%;
  height: 600px;
  font-size: 21px;
  font-family: 'Barlow', sans-serif;

  .te-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
      margin: 10px 0;
      border: 4px solid $alt-bg-color;
      width: 32.5%;
      height: 50px;
      padding: 5px;
      font-size: 22px;
      text-align: center;

      &:focus {
        outline: none;
      }
    }
  }

  .title {
    margin: 10px 0;
    border: 4px solid $alt-bg-color;
    width: 100%;
    height: 70px;
    padding: 10px;
    font-size: 28px;

    &:focus {
      outline: none;
    }
  }

  .picture-url {
    margin: 10px 0;
    border: 4px solid $alt-bg-color;
    width: 100%;
    height: 50px;
    padding: 5px;
    font-size: 22px;
  }

  .description {
    margin: 10px 0;
    border: 4px solid $alt-bg-color;
    width: 100%;
    height: 80px;
    padding: 5px;
    font-size: 22px;
  }

  .submit-button {
    width: 50%;
    height: 50px;
    padding: 5px;
    background-color: $secondary-color;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    margin: 20px auto;
    cursor: pointer;
  }

  .r-quill {
    height: 100%;
    border: 0;
    font-family: $primary-font-family;
    border: 4px solid $alt-bg-color;

    .ql-container {
      font-size: 21px;
      font-family: 'Barlow', sans-serif;
    }
  }
}
