.modal-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/office.png');
  background-size: cover;

  .modal {
    background-color: #ffffff;
    border-radius: 8px;
    height: 500px;
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);

    img {
      width: 30%;
      margin-bottom: 10px;
      cursor: pointer;
    }

    hr {
      height: 3px;
      width: 100%;
      border: none;
      background-color: $alt-bg-color;
      margin-bottom: 20px;
    }

    h4 {
      color: #222326;
      font-size: 16px;
      margin: 0;
    }

    .modal-form {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin: 30px 0 60px 0;

      input {
        height: 40px;
        margin-bottom: 15px;
        border-radius: 20px;
        outline: none;
        border: 2px solid $alt-bg-color;
        padding: 0 20px;
      }

      .submit {
        @include button-alt();
        color: $alt-text-color;
        width: 60%;
        background-color: transparent;
        margin: auto;
        cursor: pointer;
      }
    }

    .button-sign {
      @include button();
      margin-top: 20px;
      width: 70%;
      height: 40px;
      cursor: pointer;
    }
  }
}
