.post-cover {
  display: flex;
  width: 60%;
  height: 200px;
  background-color: #777;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  cursor: pointer;
  margin: 20px 0;

  .content {
    background-color: #fff;
    width: 70%;
    font-size: 18px;
    padding: 20px;
  }

  .post-meta {
    display: flex;

    .author {
      margin: 0 15px;
      border-bottom: 3px solid $secondary-color;
    }
  }

  img {
    width: 30%;
    background-size: cover;
  }
}
