.post-page {
  font-family: $primary-font-family;

  .post {
    width: 60%;
    margin: 70px auto;
    font-size: 22px;
    text-align: justify;

    p {
      margin: 50px 0;
    }
  }
}

.navbar {
  position: relative;
  width: 100%;
}
